div.b3-modal-wrapper {
	width: 100%; 
	height: 100%; 
	position: fixed;
	top:0; 
	left:0; 
}

div.b3-modal-background {
	width: 100%; 
	height: 100%; 
	position: fixed; 
	top:0; 
	left:0; 
	opacity: 0.5; 
	background: #000000;
}

div.b3-modal-container {
	position:relative; 
	top:20%;
}

div.b3-modal-foreground {
	background: white; 
	border-radius: 4px;
}

span.b3-modal-btn-close {
	position: relative; 
	left: 98%;
}

