<div class="b3-modal-wrapper" ng-show="getToggleState()">
	<div class="b3-modal-background"></div>
	<div class="container b3-modal-container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 b3-modal-foreground" >
				<span class="badge b3-modal-btn-close" ng-click="closeModal()">X</span>
				<div ng-transclude></div>
			</div>
		</div>
	</div>
</div>